﻿
@{
    ViewBag.Title = "Index";
}

<h2>Person Page</h2>
<div>
    <div> FirstName : <span id="FName1" name="FName"></span></div>
    <div> LastName : <span id="LName1" name="LName"></span></div>
</div>

<script>
    $(document).ready(function () {
        var FName, LName;
        var base_url = window.location.origin + "/Person/";  // "Cek base Url"
        var options = {
            type: "POST",
            url: base_url + 'GetData',
            //data: '{param1:"' + $('#FName1').val() + '",param2:"' + $('#LName1').val() + '"}',
            //data: '{param1:"Joko",param2:"35"}',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    for (key in response) {
                        if (response.hasOwnProperty(key)) {
                            FName = response.FirstName;
                            LName = response.LastName;
                        }
                    }
                } else {
                    alert("Something went wrong");
                }
                $("#FName1").html(FName);
                $("#LName1").html(LName);
                setInterval(function () { load() }, 10000);
            }
        };
        $.ajax(options);
    });
    let load = () => {
            var FName, LName;
            var options = {
                type: "POST",
                url: 'Person/GetData',
                //data: '{param1:"' + $('#FName1').val() + '",param2:"' + $('#LName1').val() + '"}',
                //data: '{param1:"Joko",param2:"35"}',
                async: false,
                cache: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        for (key in response) {
                            if (response.hasOwnProperty(key)) {
                                FName = response.FirstName;
                                LName = response.LastName;
                            }
                        }
                    } else {
                        alert("Something went wrong");
                    }
                    $("#FName1").html(FName);
                    $("#LName1").html(LName);
                    //setInterval(function () { load() }, 10000);
                }
        };
        $.ajax(options);
    }
</script>

